<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="device.s.docreader">

<application
    >

    <activity
        android:name=".office.officereader.AppActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
</application>
</manifest>